@font-face {
    font-family: "Inconsolata";
    src: url("../fonts/Inconsolata-VF.ttf") format('TrueType');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: fallback;
}

@supports (font-variation-settings: 'wdth' 115) {
    body {
       font-family: Inconsolata!important;
       font-optical-sizing: auto;
       font-size: 2em;
       --text-weight: 400;
       --text-width: 100%
    }
    h1.location-timezone, .degree-section, .temperature-description, .temperature-degree sup {
        font-weight: var(--text-weight)!important;
        font-variation-settings: 'wdth' var(--text-width)!important;
    }
}

@media (max-width: 650px) {
    body {
        font-size: 1.5em;
        word-break: break-all;
    }
}

html {
    min-height: 100%;
}
  
body {
    margin: 0;
    padding: 5% 0;
    position: relative;
    --main-color: #fff;
    --color-one: #121212;
    --color-two: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--color-one), var(--color-two));
    font-family: sans-serif;
    color: var(--main-color);
}

body:before {
    content: "Loading...";
}

body.loaded:before {
    content: none;
}

body.loaded {
    --main-color: #121212;
}

:link, :visited {
    color: var(--main-color)
}

svg {
    fill: var(--main-color)
}

body:not(.loaded) svg, body:not(.loaded) footer {
    display: none;
}

.location, .temperature {
    text-align: center;
    margin: 1em auto;
}

.temperature-degree {
    margin: 0 auto 1em;
}

.degree-section {
    font-size: 1.5em;
}

.degree-section:hover, svg:hover {
    cursor: pointer;
}

.location-timezone {
    font-size: 2em;
    margin: 0.5em 0;
}

.temperature-degree sup {
    font-size: 0.5em;
    font-weight: 600;
}

.drawing {
    background-image: paint(drawing);
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -3;
}

footer {
    font-size: 0.75em;
    margin: 1em auto;
    text-align: center;
}

footer p {
    margin: 0;
    line-height: 2em;
}